# Pandas support

Without anything else, physipy is kinda supported in pandas, but performances will be quite degraded. It seems a 1d quantity array will be split element-wise and stored, hence all operations will be done "loop"-wise, loosing the power of numpy arrays.

See [physipandas](https://github.com/mocquin/physipandas) for better interface between pandas and physipy.

In [1]:
import numpy as np
import pandas as pd

import physipy
from physipy import K, s, m, kg, units

In [3]:
arr = np.arange(10)
heights = np.random.normal(1.8, 0.1, 10)*m
heights.favunit = units["mm"]
weights = np.random.normal(74, 3, 10)*kg
heights

<Quantity : [1.79593758 1.77592833 1.9450766  1.74089581 1.87403344 1.81168064
 1.76277695 1.9060696  1.57024467 1.79387593] m>

## Dataframe

In [4]:
df = pd.DataFrame({
    "heights":heights,
    "temp":arr*K,
    "weights":weights, 
    "arr":arr,
})

/Users/mocquin/MYLIB10/MODULES/physipy/physipy/quantity/quantity.py:680: UserWarning: The unit of the quantity is stripped.
  warnings.warn("The unit of the quantity is stripped.")

In [5]:
df["heights"]

0     1795.937581911331 mm
1     1775.928328226154 mm
2    1945.0765986590727 mm
3    1740.8958129621826 mm
4      1874.03343944686 mm
5    1811.6806410848635 mm
6    1762.7769524609269 mm
7    1906.0695975565318 mm
8    1570.2446729685344 mm
9    1793.8759312841955 mm
Name: heights, dtype: object

In [6]:
df

                 heights temp               weights  arr
0   1795.937581911331 mm  0 K   74.7673590827353 kg    0
1   1775.928328226154 mm  1 K  72.47121534114326 kg    1
2  1945.0765986590727 mm  2 K  67.31427635122361 kg    2
3  1740.8958129621826 mm  3 K  71.93136727916843 kg    3
4    1874.03343944686 mm  4 K  71.44576517188413 kg    4
5  1811.6806410848635 mm  5 K  73.81775380993244 kg    5
6  1762.7769524609269 mm  6 K  75.37023037889304 kg    6
7  1906.0695975565318 mm  7 K  73.73775748529467 kg    7
8  1570.2446729685344 mm  8 K  70.89448391251106 kg    8
9  1793.8759312841955 mm  9 K  71.16030035423776 kg    9

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   heights  10 non-null     object
 1   temp     10 non-null     object
 2   weights  10 non-null     object
 3   arr      10 non-null     int64
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

In [8]:
df.describe()

            arr
count  10.00000
mean    4.50000
std     3.02765
min     0.00000
25%     2.25000
50%     4.50000
75%     6.75000
max     9.00000

In [9]:
%timeit df["heights"].min()

177 µs ± 997 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [10]:
%timeit df["arr"].min()

24 µs ± 1.02 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)